*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    text-align:center;
}
.container h1{
    margin-bottom:10px;
}
.container p{
    color:#cbd5e1;
    margin-bottom:70px;
}
.radial-menu{
    position:relative;
    width:220px;
    height:220px;
    margin:auto;
}
.menu-btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    background:#3b82f6;
    color:white;
    font-size:34px;
    cursor:pointer;
    transition:.4s;
    z-index:10;
}
.menu-btn:hover{
    transform:translate(-50%,-50%) rotate(45deg);
}
.action{
    position:absolute;
    top:50%;
    left:50%;
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    text-decoration:none;
    font-size:24px;
    background:white;
    color:#111827;
    transform:translate(-50%,-50%);
    opacity:0;
    transition:.45s ease;
}
.radial-menu:hover .action{
    opacity:1;
}
.radial-menu:hover .action1{
    transform:translate(-50%,-130px);
    transition-delay:.05s;
}
.radial-menu:hover .action2{
    transform:translate(45px,-95px);
    transition-delay:.1s;
}
.radial-menu:hover .action3{
    transform:translate(45px,-5px);
    transition-delay:.15s;
}
.radial-menu:hover .action4{
    transform:translate(-50%,35px);
    transition-delay:.2s;
}
.radial-menu:hover .action5{
    transform:translate(-145px,-5px);
    transition-delay:.25s;
}
.radial-menu:hover .action6{
    transform:translate(-145px,-95px);
    transition-delay:.3s;
}
.action:hover{
    background:#3b82f6;
    color:white;
    transform:scale(1.1);
}