@keyframes pulse-border-sd {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.6);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

.pulse-border-sd {
  animation: pulse-border-sd 1.8s infinite ease-in-out;
}
