body {
  padding: 40px;
  background-color: #e0e0e0;
  color: #333;
  font-family: system-ui, sans-serif;
}
.clock-body {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.clock-center {
  width: 12px;
  height: 12px;
  background: #313131;
  border-radius: 50%;
}